* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
header {
  max-width: 1440px;
  margin: 0 auto;
}
.first-txt {
  display: flex;
  justify-content: center;
}
.powerby {
  display: flex;
  justify-content: center;
  font-size: xx-large;
  color: gray;
}
.div2 {
  display: flex;
  justify-content: center;
}
.div2 p {
  max-width: 500px;
  text-align: center;
}
.grid1 {
  width: 350px;
  height: 250px;
  border: 3px solid black;
  border-radius: 20px;
}
.supervisor {
  padding-left: 15px;
  padding-top: 20px;
  font-size: x-large;
}
.Monitors {
  padding-top: 25px;
}

.first-photo {
  max-width: 4vw;
  max-height: 4vw;
  margin-top: 35px;
  margin-left: 190px;
}

.grid2 {
  width: 350px;
  height: 250px;
  border: 3px solid black;
  border-radius: 20px;
}
.teamBuilder {
  padding-left: 15px;
  padding-top: 20px;
  font-size: x-large;
}
.P2 {
  padding-top: 30px;
}
.home-icon {
  margin-left: 270px;
  margin-top: 70px;
}
.grid3 {
  width: 350px;
  height: 250px;
  border: 3px solid black;
  border-radius: 20px;
}
.calculator-p {
  padding-left: 15px;
  padding-top: 20px;
  font-size: x-large;
}
.p3 {
  margin-top: 30px;
}
.calculator {
  margin-left: 290px;
  margin-top: 70px;
}
.grid4 {
  width: 350px;
  height: 250px;
  border: 3px solid black;
  border-radius: 20px;
}
.box4 {
  padding-top: 30px;
  padding-left: 30px;
  font-size: x-large;
}
.light {
  margin-top: 70px;
  margin-left: 280px;
}

.lighticon {
  padding-left: 15px;
  padding-top: 20px;
  font-size: x-large;
}

.main-box {
  display: grid;
  justify-items: center;
  margin-top: 50px;
  grid-template-columns: repeat(4 1fr);
  grid-template-rows: repeat(3 1fr);
  grid-gap: 50px 10px;
}
.grid1 {
  grid-column: 1;
  grid-row: 2 / 4;
}
.grid2 {
  grid-column: 2;
  grid-row: 1 / span 2;
}
.grid3 {
  grid-column: 3;
  grid-row: 2 / 4;
}
.grid4 {
  grid-column: 2;
  grid-row: 3 / span 2;
}
